<div class="chatcontrol">
  <div class="row" style="width: inherit; margin: 0 !important;">
    <mat-chip-list selectable multiple>
      <mat-chip
        color="accent"
        #c="matChip"
        *ngFor="let option of topics"
        [value]="option"
        (click)="toggleSelection(c)"
        class="mat-chip-category"
      >
        <mat-icon *ngIf="c.selected">check</mat-icon>
        {{ option }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div
    class="row"
    style="width: inherit; margin: 0 !important; margin-top: 10px !important; margin-bottom: 10px !important;"
  >
    <input
      mat-input
      type="text"
      class="form-control chatinput"
      (keyup.enter)="sendMessage()"
      [(ngModel)]="currContent"
    />
    <button mat-button class="btn btn-primary sendbtn" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
