<li class="list-group-item" *ngIf="isSentByBot">
  <img [src]="message.avatar" class="avatar" />
  <div class="message">
    {{ message.content }}
  </div>
  <div class="timeform">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span class="timestamp"
      >at {{ message.timestamp | date: 'dd/MM/yyyy' }}</span
    >
  </div>
</li>


<li class="list-group-item user-message" style="justify-content: end">
  <div class="message">
    {{ message.content }}
  </div>
  <img [src]="message.avatar" class="avatar-right" />
  <div class="timeform" style="text-align: end">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span class="timestamp"
      >at {{ message.timestamp | date: 'dd/MM/yyyy' }}</span
    >
  </div>
</li>
